@model IEnumerable<Muvekkil>
@using Microsoft.AspNetCore.Identity
@using DntHukuk.Web.Areas.Identity.Data

@inject UserManager<ApplicationUser> UserManager

@{
    Layout = null;
}

<div class="headerBox headerBoxTumDosyalar">
    <div class="headerBoxHeader">
        <img src="~/pictures/user/user.svg" width="30" height="30" />
        <a asp-controller="Muvekkil" asp-action="Listele">Tüm Müvekkiller</a>
    </div>
    <div class="headerBoxContent headerBoxContentTumDosyalar">
        <table class="table">
            <thead>
                <tr>
                    <th>Adı Soyadı</th>
                    <th>Telefon</th>
                    <th>E-Posta</th>
                    <th>Sorumlu Avukat</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var avukatAdi = "Bilgi Yok.";
                    var userInfo = UserManager.FindByIdAsync((item.muvekkilSorumluAvukat).ToString());
                    if (userInfo.Result != null)
                    {
                        avukatAdi = userInfo.Result.userFirstName + userInfo.Result.userLastName;
                    }
                    <tr>
                        <td>@item.muvekkilAdi @item.muvekkilSoyAdi</td>
                        <td>@item.muvekkilTelefon</td>
                        <td>@item.muvekkilEmaik</td>
                        <td>@avukatAdi</td>
                        <td><a asp-controller="Muvekil" asp-action="Detay" asp-route-id="@item.muvekkilId" title="Görüntüle"><i class="far fa-eye i"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>