@model IEnumerable<DosyaDurumu>

@{
    var secilidosyaDurumuId = ViewBag.dosyaDurumuId;
}

@if (secilidosyaDurumuId != null)
{
    <select class="dosyaDurumuIdDropDown" name="dosyaDurumuIdDropDown" readonly id="dosyaDurumuIdDropDown">
        @foreach (var item in Model)
        {
            if (item.dosyaDurumuId == secilidosyaDurumuId)
            {
                <option value="@item.dosyaDurumuId" selected>@item.dosyaDurumuTuru</option>
            }
            else
            {
                <option value="@item.dosyaDurumuId">@item.dosyaDurumuTuru</option>
            }
        }
    </select>
}
else
{
    <select class="dosyaDurumuIdDropDown" name="dosyaDurumuIdDropDown" id="dosyaDurumuIdDropDown">
        @foreach (var item in Model)
        {
            <option value="@item.dosyaDurumuId">@item.dosyaDurumuTuru</option>
        }
    </select>
}