@model IEnumerable<IcraHukukuMuvekkilKonumu>

@{
    var seciliMuvekkilKonumuId = ViewBag.muvekkilKonumuId;
}

@if (seciliMuvekkilKonumuId != null)
{
    <select class="icraMahkemesiMuvekkilKonumuIdDropDown" name="icraMahkemesiMuvekkilKonumuIdDropDown" id="icraMahkemesiMuvekkilKonumuIdDropDown" readonly>
        @foreach (var item in Model)
        {
            if (item.Id == seciliMuvekkilKonumuId)
            {
                <option value="@item.Id" selected>@item.IcraHukukMuvekkilKonumu</option>
            }
            else
            {
    <option value="@item.Id">@item.IcraHukukMuvekkilKonumu</option>
            }
        }
    </select>
}
else
{
    <select class="icraMahkemesiMuvekkilKonumuIdDropDown" name="icraMahkemesiMuvekkilKonumuIdDropDown" id="icraMahkemesiMuvekkilKonumuIdDropDown">
        @foreach (var item in Model)
        {
        <option value="@item.Id">@item.IcraHukukMuvekkilKonumu</option>
        }
    </select>
}