@model IEnumerable<DurusmaDurum>
@{
    Layout = null;
    var seciliDosyaDurumu = ViewBag.DosyaDurumu;
}

@if (seciliDosyaDurumu != null)
{
    <select class="dosyaDurumuIdDropDown" name="dosyaDurumuIdDropDown" id="dosyaDurumuIdDropDown" readonly>
        @foreach (var item in Model)
        {
            if (item.DurusmaDurumId == seciliDosyaDurumu)
            {
                <option value="@item.DurusmaDurumId" selected>@item.DurusmaDurumu</option>
            }
            else
            {
                <option value="@item.DurusmaDurumId">@item.DurusmaDurumu</option>
            }
        }
    </select>
}
else
{
    <select class="dosyaDurumuIdDropDown" name="dosyaDurumuIdDropDown" id="dosyaDurumuIdDropDown">
        @foreach (var item in Model)
        {
            <option value="@item.DurusmaDurumId">@item.DurusmaDurumu</option>
        }
    </select>
}
