@model DntHukuk.Web.Models.Durusma

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Durusma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DosyaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DosyaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurusmaTuruId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurusmaTuruId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurusmaAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurusmaAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MahkemeAciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MahkemeAciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurusmaTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurusmaTarihi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DurusmaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
