@model IEnumerable<IdareMahkemesiMuvekkilKonumu>

@{
    var seciliMuvekkilKonumuId = ViewBag.muvekkilKonumuId;
}

@if (seciliMuvekkilKonumuId != null)
{
    <select class="idareMahkemesiMuvekkilKonumuIdDropDown" name="idareMahkemesiMuvekkilKonumuIdDropDown" id="idareMahkemesiMuvekkilKonumuIdDropDown" readonly>
        @foreach (var item in Model)
        {
            if (item.idareMahkemesiMuvekkilKonumuId == seciliMuvekkilKonumuId)
            {
                <option value="@item.idareMahkemesiMuvekkilKonumuId" selected>@item.idareMahkemesiMuvekkilKonumuTuru</option>
            }
            else
            {
                <option value="@item.idareMahkemesiMuvekkilKonumuId">@item.idareMahkemesiMuvekkilKonumuTuru</option>
            }
        }
    </select>
}
else
{
    <select class="idareMahkemesiMuvekkilKonumuIdDropDown" name="idareMahkemesiMuvekkilKonumuIdDropDown" id="idareMahkemesiMuvekkilKonumuIdDropDown">
        @foreach (var item in Model)
        {
            <option value="@item.idareMahkemesiMuvekkilKonumuId">@item.idareMahkemesiMuvekkilKonumuTuru</option>
        }
    </select>
}