@model IEnumerable<HukukMahkemesiMuvekkilKonumu>

@{
    var seciliMuvekkilKonumuId = ViewBag.muvekkilKonumuId;
}

@if (seciliMuvekkilKonumuId != null)
{
    <select class="hukukMahkemesiMuvekkilKonumuIdDropDown" name="hukukMahkemesiMuvekkilKonumuIdDropDown" id="hukukMahkemesiMuvekkilKonumuIdDropDown" readonly>
        @foreach (var item in Model)
        {
            if (item.hukukMahkemesiMuvekkilKonumuId == seciliMuvekkilKonumuId)
            {
                <option value="@item.hukukMahkemesiMuvekkilKonumuId" selected>@item.hukukMahkemesiMuvekkilKonumuTuru</option>
            }
            else
            {
                <option value="@item.hukukMahkemesiMuvekkilKonumuId">@item.hukukMahkemesiMuvekkilKonumuTuru</option>
            }
        }
    </select>
}
else
{
    <select class="hukukMahkemesiMuvekkilKonumuIdDropDown" name="hukukMahkemesiMuvekkilKonumuIdDropDown" id="hukukMahkemesiMuvekkilKonumuIdDropDown">
        @foreach (var item in Model)
        {
            <option value="@item.hukukMahkemesiMuvekkilKonumuId">@item.hukukMahkemesiMuvekkilKonumuTuru</option>
        }
    </select>
}