@model Muvekkil

@{
    ViewData["Title"] = "Detay";
}

@section Styles{
    <link href="~/css/muvekkil.css" rel="stylesheet" />
    <style>
        .headerBackButton {
            transition: 175ms all ease-in-out;
        }

            .headerBackButton:hover {
                font-size: 16px;
            }
    </style>
}

<div class="muvekkilWrapper">
    <div class="muvekkilEkleHeader">
        <a asp-controller="Muvekkil" asp-action="Listele" style="margin-right:15px; color:#333;" class="headerBackButton"><i class="fas fa-chevron-left ki"></i></a>
        <img src="~/pictures/user/user.svg" width="45" height="45" />
        <label class="muvekkilEkleHeaderTitle">Müvekkil Detayı</label>
    </div>
    <div class="muvekkilListeleContent muvekkilDetayContent">
        <div class="muvekkilListeleContentRow2">
            <dl class="row maringss">
                <dt class="col-sm-2">
                    Müvekkil ID:
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.muvekkilId)
                </dd>

                <dt class="col-sm-2">
                    Kayıt Tarihi:
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.muvekkilUyelikTarihi)
                </dd>
            </dl>
        </div>
        <div class="muvekkilListeleContentRow2">
            <div class="muvekkilListeleContentRow2Col1">
                <dl class="row">
                    <dt class="col-sm-2">
                        Adı Soyadı:
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.muvekkilAdi) @Html.DisplayFor(model => model.muvekkilSoyAdi)
                    </dd>
                    <dt class="col-sm-2">
                        TC:
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.muvekkilTc)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="muvekkilListeleContentRow2">
            <div class="muvekkilListeleContentRow2Col1">
                <dl class="row">
                    <dt class="col-sm-2">
                        Türü:
                    </dt>
                    <dd class="col-sm-4">
                        @if (Model.muvekkilTuruId == 1)
                        {
                            <span>Şahıs</span>
                        }
                        else if (Model.muvekkilTuruId == 2)
                        {
                            <span>Kurum (Kamu)</span>
                        }
                        else
                        {
                            <span>Kurum (Özel)</span>
                        }
                    </dd>
                    <dt class="col-sm-2">
                        Sorumlu Avukat:
                    </dt>
                    <dd class="col-sm-4">
                        @await DntHukuk.Web.Controllers.MuvekkilController.AvukatIdToName(Model.muvekkilSorumluAvukat)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="muvekkilListeleContentRow2">
            <div class="muvekkilListeleContentRow2Col1">
                <dl class="row">
                    <dt class="col-sm-2">
                        Email:
                    </dt>
                    <dd class="col-sm-4">
                        @Model.muvekkilEmaik
                    </dd>
                    <dt class="col-sm-2">
                        Telefon:
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.muvekkilTelefon)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="muvekkilListeleContentRow2">
            <div class="muvekkilListeleContentRow2Col1">
                <dl class="row">
                    <dt class="col-sm-2">
                        Adres:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.muvekkilAdres)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="muvekkilListeleContentRow2">
            <div class="muvekkilListeleContentRow2Col1">
                <dl class="row">
                    <dt class="col-sm-2">
                        Açıklama:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.muvekkilAciklama)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="muvekkilListeleContentRow2">
            <div class="muvekkilListeleContentRow2Col1">
                <dl class="row">
                    <dt class="col-sm-2">
                        Evrak:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.muvekkilEvrakPath)
                    </dd>
                </dl>
            </div>
        </div>
        @if (Model.muvekkilTuruId != 1)
        {
            <div class="muvekkilListeleContentRow2">
                <div class="muvekkilListeleContentRow2Col1">
                    <dl class="row">
                        <dt class="col-sm-1">
                            Yetkili İsim:
                        </dt>
                        <dd class="col-sm-3">
                            @Html.DisplayFor(model => model.muvekkilYetkiliIsim)
                        </dd>

                        <dt class="col-sm-1">
                            Vergi Dairesi:
                        </dt>
                        <dd class="col-sm-3">
                            @Html.DisplayFor(model => model.muvekkilVergiDairesi)
                        </dd>

                        <dt class="col-sm-1">
                            Vergi No:
                        </dt>
                        <dd class="col-sm-3">
                            @Html.DisplayFor(model => model.muvekkilVergiNo)
                        </dd>
                    </dl>
                </div>
            </div>
        }
        <div class="col-sm-12 mt-4 pl-0">
            <a asp-controller="Muvekkil" asp-action="Listele"><i class="fas fa-arrow-left"></i> <span>Geri Dön</span></a>
        </div>
    </div>
</div>
