@model IEnumerable<Muvekkil>

@{
    ViewData["Title"] = "Müvekkil Listele";
}

@section Styles{
    <link href="~/css/muvekkil.css" rel="stylesheet" />
}

<div class="muvekkilWrapper">
    <div class="muvekkilEkleHeader muvekkilListeleHeader">
        <img src="~/pictures/user/user.svg" width="45" height="45" />
        <label class="muvekkilEkleHeaderTitle">Müvekkil Listele</label>
    </div>
    <div class="muvekkilEkleContent muvekkilListeleContent">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.muvekkilAdi) Soyadı
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.muvekkilTuruId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.muvekkilSorumluAvukat)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.muvekkilEmaik)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.muvekkilTelefon)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.muvekkilAdi) @Html.DisplayFor(modelItem => item.muvekkilSoyAdi)
                        </td>
                        <td>
                            @if (item.muvekkilTuruId == 1)
                            {
                                <label>Şahıs</label>
                            }
                            else if (item.muvekkilTuruId == 2)
                            {
                                <label>Kurum (Kamu)</label>
                            }
                            else
                            {
                                <label>Kurum (Özel)</label>
                            }
                        </td>
                        <td>
                            @await DntHukuk.Web.Controllers.MuvekkilController.AvukatIdToName(item.muvekkilSorumluAvukat)
                        </td>
                        <td>
                            @item.muvekkilEmaik
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.muvekkilTelefon)
                        </td>
                        <td>
                            <a asp-controller="Muvekkil" asp-action="Detay" asp-route-id="@item.muvekkilId" title="Görüntüle"><i class="far fa-eye i"></i></a> |
                            <a asp-controller="Muvekkil" asp-action="Duzenle" asp-route-id="@item.muvekkilId" title="Düzenle"><i class="far fa-edit i"></i></a> |
                            <a asp-controller="Muvekkil" asp-action="Sil" asp-route-id="@item.muvekkilId" title="Sil"><i class="far fa-trash-alt i"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
